@import '../../Style/sass/mixins';

@include style-reset-a-li;


.product-card{

    .main-product-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        
    }


    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 3px 1px 12px 0px lightgray;
    border-radius: 0.6em;

    .products-image-container{
        display: flex;
        justify-content: center;
        img{
            border-radius: 0.3em;
        }
    }
    .product-info{
        padding: 1em;
        text-align: center;

        h5{
            font-weight: 600;
        }
        .product-price{
            margin: 0;
            font-weight: 400;
            font-size: 1.2em;
        }
        .products-rating{
            i{
                color: gold;
                font-size: small;
            }
        }
    }
}